.button {
  all: unset;
  padding: 0.75rem 1rem;
  font-size: 14px;
  outline: 1px solid var(--secondary-black);
  font: var(--font-body);
}

.button:hover {
  cursor: pointer;
  outline-width: 2px;
}
