.stickyContent {
  position: sticky;
  top: 0;
  margin-top: var(--total-header-height);
  top: var(--total-header-height);
}

.returnToPickups {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-top: 2rem;
  background-color: var(--secondary-white);
}

.returnToPickups:hover {
  cursor: pointer;
  text-decoration: underline;
}

.pageHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font: var(--font-header);
  padding: 2rem 0 2rem 0;
  background-color: var(--secondary-white);
}

.loadingCircleContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.pickupForm {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-bottom: 6rem;
}

.formCategoryHeader {
  padding-bottom: 1.5rem;
  font-weight: bold;
}

.formFieldList {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  list-style-type: none;
  font: var(--font-small);
}

.fieldContainer {
  display: flex;
}

.fieldContainer label {
  display: flex;
  width: 8rem;
  align-items: center;
}

.fieldContainer input {
  padding: 0.25rem;
  font-size: 1rem;
  width: 8rem;
}

.fieldContainer select {
  box-sizing: content-box;
  padding: 0.25rem;
  font-size: 1rem;
  width: 8rem;
}

.submitContainer {
  display: flex;
  gap: 3rem;
}

.error {
  color: red;
  margin-top: 1rem;
}

.modalCanvas {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(8px);
}

.modalWindow {
  width: 75%;
  aspect-ratio: 1/1;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 1rem;
  background-color: var(--secondary-white);
  border: 0.25rem solid var(--caution-red);
  border-radius: 4px;
  justify-content: center;
}

.modalContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1.5rem;
}

.modalIcon {
  width: 3rem;
}

.modalTitle {
  font: var(--font-secondary-header);
  font-weight: bold;
  margin: 0;
}

.modalSubtitle {
  font: var(--font-small);
}

.modalActions {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
