.login {
  display: flex;
  flex: 1;
  align-items: center;
}

.dancingFruits {
  position: absolute;
  top: 1rem;
  height: 128px;
}

.loginButton {
  display: flex;
  gap: 0.5rem;
  font: var(--font-body);
  background-color: white;
  border: none;
  outline: 1px solid black;
  padding: 0.75rem 1rem;
  align-items: center;
  border-radius: 0.5rem;
}
.loginButton .googleLogo {
  width: 1rem;
}

.loginHeader {
  font: var(--font-header);
  text-align: center;
  margin: 0;
}

.loginContent {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  flex: 1;
  align-items: center;
}

.error {
  color: red;
}
