.pageHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font: var(--font-header);
  padding: 4rem 0 2rem 0;
  position: sticky;
  top: 0;
  background-color: var(--secondary-white);
}

.pickupList {
  list-style-type: none;
  padding: 0;
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
