:root {
  --primary-green: #09a952;
  --primary-navy-blue: #0a456e;
  --primary-light-blue: #99d1e2;
  --primary-yellow: #ffab2b;
  --secondary-white: #fdfefd;
  --secondary-black: #232222;
  --font-body: 1rem 'Montserrat Variable', Arial, sans-serif;
}
