:root {
  --primary-green: #09a952;
  --primary-lime-green: #7ed959;
  --primary-navy-blue: #0a456e;
  --primary-light-blue: #99d1e2;
  --primary-yellow: #ffab2b;
  --secondary-white: #fdfefd;
  --secondary-black: #232222;
  --caution-red: #b50404;
  --font-header: 1.75rem 'Montserrat Variable', Arial, sans-serif;
  --font-secondary-header: 1.5rem 'Montserrat Variable', Arial, sans-serif;
  --font-body: 1rem 'Montserrat Variable', Arial, sans-serif;
  --font-small: 0.75rem 'Montserrat Variable', Arial, sans-serif;
  --pickup-width: 18.5rem;
  --page-padding-top: 4rem;
  --header-height: 5rem;
  --header-border-width: 0.5rem;
  --total-header-height: calc(
    var(--header-height) + var(--header-border-width)
  );
}
body {
  margin: 0;
  background-color: var(--secondary-white);
  font: var(--font-body);
  color: var(--secondary-black);
}
